<div class="block-title">
    <h3>Educación</h3>
  </div>

  <div class="timeline timeline-second-style clearfix">
    <div class="timeline-item clearfix">
      <div class="left-part">
        <h5 class="item-period">2017-2019</h5>
        <span class="item-company">Colegio Gregorio Hernández</span>
      </div>
      <div class="divider"></div>
      <div class="right-part">
        <h4 class="item-title">Estudios secundarios:</h4>
        <p>Bachiller técnico profesional en informática. </p>
      </div>
    </div>

    <div class="timeline-item clearfix">
      <div class="left-part">
        <h5 class="item-period">2019-Actual</h5>
        <span class="item-company">Instituto tecnológico de las Américas (ITLA)</span>
      </div>
      <div class="divider"></div>
      <div class="right-part">
        <h4 class="item-title">Estudios superiores:</h4>
        <p>Tecnólogo en Desarrollo de Software, en ITLA.</p>
      </div>
    </div>