<section data-id="resume" class="animated-section">
  <div class="section-content">
    <div class="page-title">
      <h2>Curriculum</h2>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <app-education></app-education>

        <div class="white-space-50"></div>

        <!-- Knowledges -->
        <app-knowledge></app-knowledge>
        <!-- End of Knowledges -->
      </div>

      <!-- Skills & Certificates -->
      <div class="col-xs-12 col-sm-5">


        <div class="white-space-10"></div>

        <app-skills></app-skills>

        <div class="white-space-10"></div>


      </div>
      <!-- End of Skills & Certificates -->
    </div>

    <div class="white-space-50"></div>

    <!-- Certificates -->
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="block-title">
          <h3>Certificados</h3>
        </div>
      </div>
    </div>

    <app-certificates></app-certificates>

  </div>
</section>
