<section data-id="resume" class="animated-section">
  <div class="section-content">
    <div class="page-title">
      <h2>Curriculum</h2>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <app-education></app-education>
      </div>

      <div class="white-space-50"></div>

      <!-- Knowledges -->
      <app-knowledge></app-knowledge>
      <!-- End of Knowledges -->
    </div>

    <!-- Skills & Certificates -->
    <div class="col-xs-12 col-sm-5">

      <div class="white-space-10"></div>

      <!-- Coding Skills -->
      <div class="block-title">
        <h3>Coding <span>Skills</span></h3>
      </div>

      <div class="skills-info skills-second-style">
        <!-- Skill 5 -->
        <div class="skill clearfix">
          <h4>JavaScript</h4>
          <div class="skill-value">95%</div>
        </div>
        <div class="skill-container skill-5">
          <div class="skill-percentage"></div>
        </div>
        <!-- End of Skill 5 -->

        <!-- Skill 6 -->
        <div class="skill clearfix">
          <h4>PHP</h4>
          <div class="skill-value">85%</div>
        </div>
        <div class="skill-container skill-6">
          <div class="skill-percentage"></div>
        </div>
        <!-- End of Skill 6 -->

        <!-- Skill 7 -->
        <div class="skill clearfix">
          <h4>HTML/CSS</h4>
          <div class="skill-value">100%</div>
        </div>
        <div class="skill-container skill-7">
          <div class="skill-percentage"></div>
        </div>
        <!-- End of Skill 7 -->

        <!-- Skill 8 -->
        <div class="skill clearfix">
          <h4>Smarty/Twig</h4>
          <div class="skill-value">75%</div>
        </div>
        <div class="skill-container skill-8">
          <div class="skill-percentage"></div>
        </div>
        <!-- End of Skill 8 -->

        <!-- Skill 9 -->
        <div class="skill clearfix">
          <h4>Perl</h4>
          <div class="skill-value">90%</div>
        </div>
        <div class="skill-container skill-9">
          <div class="skill-percentage"></div>
        </div>
        <!-- End of Skill 9 -->
      </div>
      <!-- End of Coding Skills -->

      <div class="white-space-10"></div>


    </div>
    <!-- End of Skills & Certificates -->
  </div>

  <div class="white-space-50"></div>

  <!-- Certificates -->
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="block-title">
        <h3>Certificates</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Certificate 1 -->
    <div class="col-xs-12 col-sm-6">
      <div class="certificate-item clearfix">
        <div class="certi-logo">
          <img src="img/clients/client-1.png" alt="logo">
        </div>

        <div class="certi-content">
          <div class="certi-title">
            <h4>Psyhology of Intertnation Design</h4>
          </div>
          <div class="certi-id">
            <span>Membership ID: XXXX</span>
          </div>
          <div class="certi-date">
            <span>19 April 2018</span>
          </div>
          <div class="certi-company">
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Certificate 1 -->

    <!-- Certificate 2 -->
    <div class="col-xs-12 col-sm-6">
      <div class="certificate-item clearfix">
        <div class="certi-logo">
          <img src="img/clients/client-1.png" alt="logo">
        </div>

        <div class="certi-content">
          <div class="certi-title">
            <h4>Psyhology of Intertnation Design</h4>
          </div>
          <div class="certi-id">
            <span>Membership ID: XXXX</span>
          </div>
          <div class="certi-date">
            <span>19 April 2018</span>
          </div>
          <div class="certi-company">
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Certificate 2 -->

    <!-- End of Certificates -->
  </div>
</section>
