<div class="info-list">
  <ul>
    <li>
      <span class="title">Edad</span>
      <span class="value">{{ showAge }}</span>
    </li>

    <li>
      <span class="title">Dirección</span>
      <span class="value"> Santo Domingo Este, República Dominicana</span>
    </li>

    <li>
      <span class="title">GitHub</span>
      <span class="value"> <a href="https://github.com/Naeliza" style="color:#706565">Naeliza</a></span>
    </li>


    <li>
      <span class="title">email</span>
      <span class="value"> <a href="mailto:lizcespedes0326@gmail.com"
          style="color:#706565">lizcespedes0326@gmail.com</a></span>
    </li>

    <li>
      <span class="title">Contacto</span>
      <span class="value">829-629-2451</span>
    </li>
  </ul>
</div>
