<section class="about-me t2 s3 shape-am position-relative" id="about">
  <div class="section-icons">
    <div class="shape-one"><img src="assets/images/testimonial/01.png" alt="images"></div>
    <div class="shape-two"><img src="assets/images/testimonial/02.png" alt="images"></div>
    <div class="shape-three"><img src="assets/images/testimonial/03.png" alt="images"></div>
    <div class="shape-four"><img src="assets/images/testimonial/04.png" alt="images"></div>
    <div class="shape-five"><img src="assets/images/testimonial/05.png" alt="images"></div>
    <div class="shape-six"><img src="assets/images/testimonial/06.png" alt="images"></div>
  </div>

  <div class="container">
    <div class="row position-relative">
      <div class="col-lg-7 animate-element wow delay5 fadeInDown">
        <div class="flat-title t2">
          <h4 class="sub-title mg-b22">About Me</h4>
          <h2 class="title-section color-d11 mg-b41">Hi, I am here to help you with your next
            project!</h2>
          <div class="description">
            <p class="color-d13 lt-sp01 text-left">
              I'm a student of software development at ITLA, and being honest this is the best
              decision
              I have ever taken I love what I develop and love software, in general, I have no
              words to
              describe it is just different, the area that I enjoy the most to develop is
              Frontend.
            </p>
            <p class="color-d13 lt-sp01 text-left">
              Spanish Translation:<br><br>

              Soy una estudiante de Tecnología en Desarrollo de Software en el Instituto
              Tecnológico de las Américas, ITLA. Para ser honesta estudiar desarrollo de
              software es una de las mejores decisiones que he tomado, puesto que amo lo
              que desarrollo y el software en general. Si me preguntaran el área de
              desarrollo web que más me gusta entre el Frontend y el Backend la respuesta
              sería el Frontend.
            </p>
          </div>
        </div>
      </div>
      <div class="fact">
        <div class="d-md-flex mg-b40">
          <div class="col-left">
            <div class="f-item color-s2 counter mg-f-item1">
              <div class="counter-box bg-s2 d-flex justify-content-center align-items-center">
                <a href="mailto:lizcespedes0326@gmail.com" class="bg-s3"><i class="fa fa-google"
                    aria-hidden="true"></i></a>
              </div>
            </div>
            <div class="f-item color-s3 counter mg-f-item2">
              <div class="counter-box bg-s2 d-flex justify-content-center align-items-center">
                <a href="https://www.linkedin.com/in/naeliza/" class="bg-s1"><i class="fa fa-linkedin"
                    aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="col-right">
            <div class="f-item color-s4 counter mg-f-item3">
              <div class="counter-box bg-s2 d-flex justify-content-center align-items-center">

                <a href="https://github.com/Naeliza" class="bg-s4"><i class="fa fa-github" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-contact bg-s2 text-center">
          <h4 class="title color-d11">Get a project? Let’s talk.</h4>
          <a href="mailto:lizcespedes0326@gmail.com" class="email color-s2 color-d15">lizcespedes0326@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
  <div class="featured-post animate-element wow delay5 fadeInUp" data-wow-delay="0.5s">
    <img src="../../../assets/images/section/rayas.jpg" alt="images">
  </div>
</section>
