<div class="row">
  <!-- Certificate 1 -->
  <div class="col-xs-12 col-sm-6">
    <div class="certificate-item clearfix">
      <div class="certi-logo">
        <img src="../../../assets/img/Linux_.jpg" alt="logo">
      </div>

      <div class="certi-content">
        <div class="certi-title">
          <h4>GNU Certified System Administrator</h4>
        </div>
        <!-- <div class="certi-id">
          <span>Membership ID: XXXX</span>
        </div> -->
        <div class="certi-date">
          <span>2020</span>
        </div>
        <div class="certi-company">
          <span>Código Libre Dominicano</span>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Certificate 1 -->

  <!-- Certificate 2 -->
  <div class="col-xs-12 col-sm-6">
    <div class="certificate-item clearfix">
      <div class="certi-logo">
        <img src="../../../assets/img/ORACLE_.jpg" alt="logo">
      </div>

      <div class="certi-content">
        <div class="certi-title">
          <h4>Certified ORACLE SQL</h4>
        </div>
        <!-- <div class="certi-id">
          <span>Membership ID: XXXX</span>
        </div> -->
        <div class="certi-date">
          <span>2020</span>
        </div>
        <div class="certi-company">
          <span>Código Libre Dominicano<br><br></span>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Certificate 2 -->
  <!-- End of Certificates -->
</div>
