<!-- Coding Skills -->
<div class="block-title">
  <h3>Coding <span>Skills</span></h3>
</div>

<div class="skills-info skills-second-style">
  <!-- Skill 1 -->
  <div class="skill clearfix">
    <h4>TypeScript</h4>
    <div class="skill-value">70%</div>
  </div>
  <div class="skill-container skill-8">
    <div class="skill-percentage"></div>
  </div>
  <!-- End of Skill 1-->

  <!-- Skill 2 -->
  <div class="skill clearfix">
    <h4>Angular</h4>
    <div class="skill-value">70%</div>
  </div>
  <div class="skill-container skill-8">
    <div class="skill-percentage"></div>
  </div>
  <!-- End of Skill 2 -->

  <!-- Skill 3 -->
  <div class="skill clearfix">
    <h4>JavaScript</h4>
    <div class="skill-value">50%</div>
  </div>
  <div class="skill-container skill-2">
    <div class="skill-percentage"></div>
  </div>
  <!-- End of Skill 3 -->

  <!-- Skill 4 -->
  <div class="skill clearfix">
    <h4>HTML</h4>
    <div class="skill-value">90%</div>
  </div>
  <div class="skill-container skill-5">
    <div class="skill-percentage"></div>
  </div>
  <!-- End of Skill 4 -->

  <!-- Skill 4 -->
  <div class="skill clearfix">
    <h4>C#</h4>
    <div class="skill-value">60%</div>
  </div>
  <div class="skill-container skill-8">
    <div class="skill-percentage"></div>
  </div>
  <!-- End of Skill 4 -->

  <!-- Skill 5 -->
  <div class="skill clearfix">
    <h4>SQL SERVER</h4>
    <div class="skill-value">70%</div>
  </div>
  <div class="skill-container skill-8">
    <div class="skill-percentage"></div>
  </div>
  <!-- End of Skill 5 -->

  <!-- Skill 6 -->
  <div class="skill clearfix">
    <h4>ORACLE SQL</h4>
    <div class="skill-value">40%</div>
  </div>
  <div class="skill-container skill-2">
    <div class="skill-percentage"></div>
  </div>
  <!-- End of Skill 6 -->
  <!-- End of Coding Skills -->

</div>
