<body>

  <!-- Animated Background -->
  <div class="lm-animated-bg" style="background-image: url(../assets/img/main_bg.png);"></div>
  <!-- /Animated Background -->

  <!-- Loading animation -->
  <app-loading-animation></app-loading-animation>
  <!-- /Loading animation -->

  <div class="page">
    <div class="page-content">

      <!-- Header -->
      <header id="site_header" class="header mobile-menu-hide">
        <app-header></app-header>
      </header>
      <!-- /Header -->

      <!-- Mobile Navigation -->
      <div class="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
      </div>
      <!-- End of Mobile Navigation -->

      <!-- Arrows Nav -->
      <div class="lmpixels-arrows-nav">
        <div class="lmpixels-arrow-right"><i class="lnr lnr-chevron-right"></i></div>
        <div class="lmpixels-arrow-left"><i class="lnr lnr-chevron-left"></i></div>
      </div>
      <!--End of Arrows Nav -->

      <div class="content-area">
        <div class="animated-sections">

          <!--  Home Subpage -->
          <app-home-subpage></app-home-subpage>
          <!-- End of Home Subpage -->

          <!--  about me Subpage -->
          <app-about-me></app-about-me>
          <!-- End of about me Subpage -->
        </div>
      </div>
    </div>
  </div>

</body>


