<div class="header-content">
  <div class="header-photo">
    <img src="../../../assets/img/main_photo.jpg" alt="Naomi">
  </div>
  <div class="header-titles">
    <h2>Naomi Céspedes</h2>
    <h4>Frontend Developer</h4>
  </div>
</div>

<ul class="main-menu">
  <li class="active">
    <a href="#home" class="nav-anim">
      <span class="menu-icon lnr lnr-home"></span>
      <span class="link-text">Home</span>
    </a>
  </li>
  <li>
    <a href="#about-me" class="nav-anim">
      <span class="menu-icon lnr lnr-user"></span>
      <span class="link-text">About Me</span>
    </a>
  </li>
  <li>
    <a href="#resume" class="nav-anim">
      <span class="menu-icon lnr lnr-graduation-hat"></span>
      <span class="link-text">Resume</span>
    </a>
  </li>
  <li>
    <a href="#blog" class="nav-anim">
      <span class="menu-icon lnr lnr-book"></span>
      <span class="link-text">Portfolio</span>
    </a>
  </li>
  <li>
    <a href="#contact" class="nav-anim">
      <span class="menu-icon lnr lnr-envelope"></span>
      <span class="link-text">Contact</span>
    </a>
  </li>
</ul>

<div class="social-links">
  <ul>
    <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
  </ul>
</div>

<div class="header-buttons">
  <a href="#" target="_blank" class="btn btn-primary">Download CV</a>
</div>

<div class="copyrights">© 2020 All rights reserved.</div>