<div class="header-content">
  <div class="header-photo">
    <img src="../../../assets/img/perfil.jpg" alt="Naomi">
  </div>
  <div class="header-titles">
    <h2>Naomi Céspedes</h2>
    <h4>Software Developer</h4>
  </div>
</div>

<app-main-menu></app-main-menu>

<div class="social-links">
  <ul>
    <li><a href="https://www.linkedin.com/in/naeliza/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
  </ul>
</div>

<div class="header-buttons">
  <a href="../../../assets/Naomi Céspedes CV Spanish.pdf" target="_blank" class="btn btn-primary">Descargar CV</a>
</div>

<div class="copyrights">©{{ year | date: 'yyyy' }}, All rights reserved.</div>